@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ced7de;
    color: hsl(209, 61%, 16%);
    line-height: 2;
   
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.1rem;
    word-spacing: 4px;
  }
  nav{
    background-color: white;
    height: 50px;
    display: grid;
    align-items: center;
   box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .main-nav{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h4{
    margin-bottom: 0;
    color: hsl(205, 91%, 58%);
  }
  .nav-links {
    display: flex;
  }
  nav a{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(205, 86%, 17%);
    letter-spacing:  0.03rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
  nav a:hover{
    color: hsl(205, 91%, 58%);
  }

  main{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
  }
  .main-container{
    text-align: center;
  }
.main-container h2{
    background-color: #222;
    color: white;
    padding: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.col{
    color: #35a4f3;
}

.btn{
     text-transform: uppercase;
     background: transparent;
     color: #222;
     font-weight: 700;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     border: 1px solid black;
     cursor: pointer;
     box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
     border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     -o-border-radius: 2px;
     padding: 11px 18px;
     margin-top: 10px;
}

.btn:hover{
    color: white;
    background: #222;
}